<br>
<% if @query_string.blank? %>
    <div class="alert alert-danger" role="alert">
        Sorry, The search content cannot be blank, please type some product into to search.
    </div>
<% elsif @jobs.blank? %>
    <br>
    <div class="alert alert-danger" role="alert">
        搜索信息不能为空，请输入关键字搜索
    </div>
<% else %>
    <%= render :partial => "search_result", :collection => @jobs, :as => :job%>
<% end %>
