<div class="col-md-12 col-centered">
    <div class="panel panel-default">
        <h2 class="job_title"><%= @job.title %></h2>
        <p>
            <%= simple_format(@job.description) %>
        </p>
        <div class="text-center">
            <%= link_to("这里请提交你的领养申请哦！", new_job_resume_path(@job),:style => "font-size: 30px; text-decoration: underline;" ) %>
        </div>
    </div>
</div>
