<div class="panel-heading">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-boldered table-striped custab">
                <thead>
                    <tr>
                        <td>领养人</td>
                        <td>领养描述</td>
                        <td>想要领养的猫猫图片</td>
                    </tr>
                </thead>
                <!-- <h3 class="panel-title">
                    </h3> -->
                <tbody>
                    <!-- <div class="panel-body"> -->
                    <tr>
                        <td><%= resume.user.name %></td>
                        <td>
                            <%= simple_format(resume.content)%>
                        </td>
                        <% if resume.attachment.present? %>
                            <td><i class="fa fa-paperclip"></i>
                                <%= link_to("Download Pic",resume.attachment_url) %></td>
                        <% else %>
                            <td>
                                没有上传图片</td>
                        <% end %>
                    </tr>
                    <!-- </div> -->
                </tbody>
            </div>
        </div>
    </div>
