<footer class="text-center">
    <div class="footer-below">
        <p class="text-center">Copyright ©2017 Spring Offer
            <br>
            Design by Ailin
        </p>
        友情链接:  <a class="footer-click" href="https://petsdoctor.herokuapp.com/" target="_new">萌宠医生</a>
    </div>
